.mat-dialog-title {
    padding: 12px 0pc 0px 12px;
    font-weight: 600;
}

.mat-dialog-content {
    padding: 20px 38px 0px 38px;
}

.mat-form-field {
    width: -webkit-fill-available;
}

.mat-dialog-actions {
    float: right;
    margin-right: 15px;
}